p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 81px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
  height: 1000px;
}

@media (min-width: 1200.1px) {
  body {
    padding-left: 230px;
  }
}
